<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">

	<style>
		.table td, 
		.table th {
		   text-align: center;   
		}
	</style>    

    <title>Movie Database - Actors</title>
    
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="#"><b>MoviesDB</b></a>
	
	  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item active">
	        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/movies">Movies</a>
	      </li>
	      <li class="nav-item">
         	<a class="nav-link" href="/actors">Actors</a>
	      </li>
	      <li class="nav-item">
         	<a class="nav-link" href="/genres">Genre</a>
	      </li>
	    </ul>
	  </div>
	</nav>
<div class="container" style="margin-top: 20px;">
    <div class="row mx-auto">
    	<div class="col col-lg-4">

    		<h3 class="display-4">add actor</h3>
			<div th:if="${editActor == null}" >
		    <form action="#" th:action="@{/actors}" th:object="${actor}" method="post">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="lastName">First name</label>
							<input type="text" class="form-control" th:field="*{firstName}" id="firstName" placeholder="First name">
							<span th:if="${#fields.hasErrors('firstName')}" class="form-text text-muted" th:errors="*{firstName}"></span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="lastName">Last name</label>
							<input type="text"  class="form-control" th:field="*{lastName}" id="lastName" placeholder="Last name">
							<span th:if="${#fields.hasErrors('lastName')}"  class="form-text text-muted" th:errors="*{lastName}"></span>
						</div>
					</div>
				</div>
				<div class="form-group">   
				    <label for="age">Age</label>
				    <input type="text"  class="form-control" th:field="*{age}" id="age" placeholder="Age"/>
				    <span th:if="${#fields.hasErrors('age')}"  class="form-text text-muted" th:errors="*{age}"></span>
			  	</div>
				<div class="form-group">  
				    <label for="gender">Gender</label>
				    <select th:field="*{gender}"  class="form-control"  id="gender" >
					    <option th:each="gender : ${T(com.movies.db.entity.Gender).values()}"
					            th:value="${gender}"
					            th:text="${gender}">
					    </option>
					</select>
				    <span th:if="${#fields.hasErrors('gender')}" class="form-text text-muted" th:errors="*{gender}"></span>	
			  	</div>  
			    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add actor</button>   
			</form>
			</div>

			<div th:if="${editActor != null}" >
				<form action="#" th:action="@{/actor/edit}" th:object="${editActor}" method="post">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="lastName">First name</label>
								<input type="text" class="form-control" th:field="*{actor.firstName}" id="firstName" placeholder="First name">
								<span th:if="${#fields.hasErrors('actor.firstName')}" class="form-text text-muted" th:errors="*{actor.firstName}"></span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="lastName">Last name</label>
								<input type="text"  class="form-control" th:field="*{actor.lastName}" id="lastName" placeholder="Last name">
								<span th:if="${#fields.hasErrors('actor.lastName')}"  class="form-text text-muted" th:errors="*{actor.lastName}"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="age">Age</label>
						<input type="text"  class="form-control" th:field="*{actor.age}" id="age" placeholder="Age"/>
						<span th:if="${#fields.hasErrors('actor.age')}"  class="form-text text-muted" th:errors="*{actor.age}"></span>
					</div>
					<div class="form-group">
						<label for="movies">Movies</label>
						<select th:field="*{movies}" class="form-control" id="movies" multiple="multiple" >
							<option value=""> -- </option>
							<option th:each="movie : ${movies}"
									th:value="${movie.movieId}"
									th:utext="${movie.title}">Options</option>
						</select>
					</div>
					<div class="form-group">
						<label for="genre">Gender</label>
						<select th:field="*{actor.gender}"  class="form-control"  id="genre" >
							<option th:each="genre : ${T(com.movies.db.entity.Gender).values()}"
									th:value="${genre}"
									th:text="${genre}">
							</option>
						</select>
						<span th:if="${#fields.hasErrors('actor.gender')}" class="form-text text-muted" th:errors="*{actor.gender}"></span>
					</div>
					<input type="hidden" th:field="*{actor.actorId}" th:value="*{actor.actorId}" name="actorId" />
					<input type="hidden" th:field="*{oldMovies}" th:value="*{oldMovies}" name="actorId" />
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit</button>
				</form>
			</div>

		</div>
		<div class="col col-lg-8">
		    <h3 class="display-4 float-right">all actors<br/></h3>
		    <table class="table">
			    <thead>
			        <tr>
			            <th scope="col"> Name </th>
			            <th scope="col"> Age </th>
			            <th scope="col"> Gender	 </th>
			            <th scope="col"> Action </th>
			        </tr>
			    </thead>
			    <tbody>
			    <tr th:if="${actors.empty}">
			            <td colspan="2"> No Movies Available </td>
			        </tr>
			        <tr th:each="actor : ${actors}">
			            <td><b><span th:text="${actor.firstName+' '+actor.lastName}"> Title </span></b></td>
			            <td><span th:text="${actor.age}"> Age </span></td>
			            <td><span th:text="${actor.gender}">Gender </span></td>
			            <td>
			           		<a th:href="@{/actor/delete/{id}(id=${actor.actorId})}" style="color: #990000; font-size:22px;"><i title="Delete" class="fas fa-times"></i></a> &nbsp;
			           		<a th:href="@{/actor/edit/{id}(id=${actor.actorId})}" style="color: #006600; font-size:20px;"><i title="Edit" class="fas fa-pencil-alt"></i></a>
			            </td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>